---
layout: default
title: Contact
comment: true
---

<div class="article">
    <h3 class="title">{{ page.title }}</h3>
    <div class="about">

        <div class="about-text">
            <p>{{ site.author.simpleIntro }}</p>
            {{ site.author.detailIntro }}
        </div>
        <div class="about-image">
            <img src="{{ site.author.imageLink }}" />
        </div>
    </div>
    <div class="fn-clear"></div>
    <div class="social">
        {% for link in site.follow %}
        <a href="{{ link.url }}" target="_blank"><i class="{{ link.class }}"></i></a>
        {% endfor %}
    </div>
    <div class="fn-clear"></div>
    <div class="contact">
        <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
    </div>
    <p style="font-size:20px;">版权声明</p>
    <p>本博主的所有一切包括身体与灵魂均归陈秀招女王大人所有，未经允许不论公母只能欣赏不能用于任何商业和非盈利目的活动。任何其他对本博主身体或灵魂有非分之想的举动都将被视为没皮没脸的行为，请于动念头3秒内立即销毁，否则将追究其法律责任。</p>
    <div class="douban" style="margin:auto;width:563px;">
	<p style="font-size:20px;">我最近读的书</p>
	<script type="text/javascript" src="http://www.douban.com/service/badge/39088733/?show=collection&amp;select=random&amp;n=20&amp;columns=5&amp;picsize=medium&amp;cat=book" ></script>
</div>
    <div class="comment">
        {% if site.disqus.config %}
        <div id="disqus_thread"></div>
        {% else %}
            {% if site.duoshuo.config %}
            <div class="ds-thread"></div>
            {% endif %}
        {% endif %}
    </div>
</div>
